/* Non sono riuscito a togliere il bordo dall'header perché mi sposta tutto il contenuto della pagina formattando in generale con * e non voglio questo risultato
Dall'header non riesco mettendo margin:0 e padding:0 forse dovrei creare un div e spaziare */

/* Regole intestazione */
header{
    border-spacing: 0px;
    background-color: #4EA1FF;
    background-image: url(../img/pattern.png);
}

.logo{
    width: 25%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 10px;
}

/* Regole contenuto principale */

    /* Proprietà titolo */
h1{
    font-size: 55px;
    margin-bottom: 0;
}

    /* Proprietà sottotitolo */
.subtitle{
    display: inline;
    font-size: 25px;
    margin-bottom: 0;
}

.grey{
    color:#8E8E8E;
}

.blue{
    color:#6EB3C6;
}

.date{
    margin-top: 0;
}

    /* Proprietà immagini */
.tim1{
    width: 50%;
    height: auto;
}

.tim2{
    width: auto;
    height: 475px; /* Ho ispezionato la pagina e ricavato l'altezza dell'altra immagine */
}

    /* Proprietà testi sotto le immagini */
.sub-image{
    margin-top: 0;
    margin-bottom: 0;
}

    /* Proprietà testo */
.text{
    font-size: 20px;
}

.inline{
    display: inline;
}

.bg-yellow{
    background-color: yellow;
}

.paragraph{
    margin-top: 18px;
}

    /* Proprietà tabella */
table{
    border-collapse: collapse;
}

ul{
    margin-top: 40px;
    padding-left: 20px;
}

.small-cell{
    width: 25%;
}

thead{
    color:white;
    background-color: #20ABE0;
    /* Non ho capito come colorare anche le linee tra le colonne */
    text-align: left;
}

.colored-line{
    background-color: #B1E6F1;
}

/* Regole footer */
h3{
    margin-top: 40px;
}

.white{
    color: white;
}

.bg-pc{
    background-image: url(../img/monitor.jpg);
}

.bg-graph{
    background-image: url(../img/graph.jpg);
}

.bg-image{
    width: 300px;
    height: 200px;
    padding-left: 10px;
    padding-top: 15px;
}