/* Regole intestazione */
header{
    background-color: #4EA1FF;
    background-image: url(../img/pattern.png);
}

.logo{
    width: 25%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 10px;
}

/* Regole contenuto principale */
h1{
    font-size: 55px;
    margin-bottom: 0;
}

.subtitle{
    display: inline;
    font-size: 25px;
    margin-bottom: 0;
}

.grey{
    color:#8E8E8E;
}

.blue{
    color:#6EB3C6;
}

.date{
    margin-top: 0;
}

.tim1{
    width: 50%;
    height: auto;
}

.tim2{
    width: auto;
    height: 475px; /* Ho ispezionato la pagina e ricavato l'altezza dell'altra immagine */
}

.sub-image{
    margin-top: 0;
    margin-bottom: 0;
}