/* Regole intestazione */
header{
    background-color: #4EA1FF;
    background-image: url(../img/pattern.png);
}

.logo{
    width: 25%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 10px;
}

/* Regole contenuto principale */
h1{
    font-size: 55px;
    margin-bottom: 0;
}

.subtitle{
    display: inline;
    font-size: 25px;
    margin-bottom: 0;
}

.grey{
    color:#8E8E8E;
}

.blue{
    color:#6EB3C6;
}

.date{
    margin-top: 0;
}

.tim1{
    width: 50%;
    height: auto;
}

.tim2{
    width: auto;
    height: 475px; /* Ho ispezionato la pagina e ricavato l'altezza dell'altra immagine */
}

.sub-image{
    margin-top: 0;
    margin-bottom: 0;
}

.text{
    font-size: 20px;
}

.inline{
    display: inline;
}
.bg-yellow{
    background-color: yellow;
}

.paragraph{
    margin-top: 18px;
}

ul{
    margin-top: 40px;
    padding-left: 20px;
}

.small-cell{
    width: 25%;
}

thead{
    color:white;
    background-color: #20ABE0;
    /* Non ho capito come colorare anche le linee tra le colonne */
}

.colored-line{
    background-color: #B1E6F1;
}

/* Regole footer */
h3{
    margin-top: 40px;
}

.white{
    color: white;
}

.bg-pc{
    background-image: url(../img/monitor.jpg);
}

.bg-graph{
    background-image: url(../img/graph.jpg);
}

.bg-image{
    width: 300px;
    height: 200px;
    padding-left: 10px;
    padding-top: 15px;
}